.tecnologia {
  width: 100%;
  max-width: 300px;
  margin: 5px;
  border: 1px solid white;
  color: white;
  padding: 5px;
  border-radius: 15px;
  transition: .4s;
}

.tecnologia img {
  width: 100px;
}
.tecnologia h1{
  font-size: 22px;
  text-transform: uppercase;
}

.tecnologia:hover {
  color: #000;
  transform: rotate(0deg);  
  border: 1px solid rgb(255, 223, 0);
  background-color: #fff;
}
